body {
    margin: auto;
    justify-content: center;
  }

  .container {
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .image {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .header {
    margin: auto;
    text-align: center;
    font-size: 50px;
    display: flex;
    font-family: "1942 Report";
    justify-content: center;
  }

  .contactinfo {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "1942 Report";
    font-size: 20px;
  }

  div.links:hover {
    text-decoration: none;
    margin: auto;
    display: flex;
    margin-top: 0.5px;
    box-shadow: 0px 0px 5px rgb(124, 8, 27);
    font-family: "1942 Report";
    justify-content: center;
  }

  .links {
    /* border: 1px solid #000; */
    width: 201px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    margin: auto;
    text-align: center;
    font-family: "1942 Report";
    justify-content: center;
    font-size: 30px;
    padding: 5px;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
