body {
background-image: url("pastel-pink-morning-blur-wallpaper-preview.jpeg");
}

.image {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  padding: 0px;
  margin-bottom: 20;
  font-family: "Lobster Two", cursive;
  justify-content: center;
}

.links {
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
}

.links:hover {
  display: flex;
  margin-top: 5px;
  box-shadow: 0px 0px 10px pink;
  font-family: 'Lobster Two', cursive;
  justify-content: center;
}
